* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #2e3c47;
  color: #dfdfe2;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.Intro {
  font-size: 6vh;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub_intro1 {
  animation: spinAnimation 2s ease-in-out forwards;
  font-weight: 1000;
}

.sub_intro2 {
  font-size: 3vh;
  color: #21c229;
  animation: spinAnimationback 2s ease-in-out backwards;
}

.propic {
  border: black solid 0.05em;
  padding: 0;
  margin: 0;
  object-fit: cover;
  border-radius: 100%;
  max-height: 15%;
  animation: fromaboveAnimation 2s ease-in-out backwards;
}

.bio {
  color: white;
  font-size: 2vh;
  width: 80vw;
  margin-top: 3vh;
  animation: frombelowAnimation 2s ease-in-out forwards;
}
.skills {
  color: white;
  font-size: 2vh;
  width: 60vw;
  text-align: center;
  margin-top: 3vh;
  animation: frombelowAnimation 2s ease-in-out forwards;
}

.fullbio {
  min-height: 100vh;
}

a {
  color: unset;
  font-display: unset;
  font-style: unset;
  text-decoration:unset;
}


nav {
  background-color: #25333e;
  background: linear-gradient(#31414e, #2c3d47, #26343f);
  width: 100%;
  display: flex;
  border-radius: 1%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 0;
  border-bottom: solid black;
  position: fixed;
  margin: 0;
  padding: 1rem;
  z-index: 1000;
}

.logo {
  height: 1.9rem;
  display: block;
  border-radius: 5%;
  object-fit: contain;
}

ul {
  text-align: center;
  list-style-position: inside;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

nav > ul > li {
  font-size: 1rem;
  padding: 0 0.5rem;
}

nav > ul > li > a {
  color: #21c229;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  box-sizing: inherit;
}

.progetti {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 90%;
  max-width: 100%;
}

.title {
  padding: 1em;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  color: #21c229;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

figure {
  max-width: 30%;
  margin: 1rem;
}

figcaption {
  font-size: 1rem;
}

.ProjectImg {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

footer {
  display: block;
  height: 3rem;
  background: linear-gradient(#21c229 30%, #17721c, #21c229);
  width: 100vw;
  color: #2c3d47;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-top: solid black;
  font-weight: 700;
  font-size: 1rem;
  line-height: 3rem;
}

@keyframes spinAnimation {
  from {
      transform: rotate(0deg) scale(0.1) translate(-100%);
  }
  to {
      transform: rotate(360deg) scale(1) translate(0);
  }
}

@keyframes spinAnimationback {
  from {
      transform: rotate(360deg) scale(0.1) translate(50%);
  }
  to {
      transform: rotate(0deg) scale(1) translate(0);
  }
}

@keyframes fromaboveAnimation {
  from {
      transform: translate(0, -200%);
  }
  to {
      transform: translate(0, 0);
  }
}

@media (min-width: 768px) {
  body {
      font-size: 3rem;
  }

  nav > ul > li {
      font-size: 1.2rem;
  }

  nav > ul > li > a {
      font-size: 1.2rem;
  }

  .title {
      font-size: 2.5rem;
  }

  figcaption {
      font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  body {
      font-size: 4rem;
  }

  nav > ul > li {
      font-size: 1.5rem;
  }

  nav > ul > li > a {
      font-size: 1.5rem;
  }

  .title {
      font-size: 3rem;
  }

  figcaption {
      font-size: 1.5rem;
  }
}
